body {
    background-color: #ffffff;
}

.page-header {
    background-color: #C0C0C0;
    margin-top: 0;
    padding-top: 30px;
    background: #e0e0e0; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #e0e0e0 0%, #d8d8d8 29%, #dbdbdb 50%, #dbdbdb 60%, #e0e0e0 79%, #dbdbdb 95%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#e0e0e0), color-stop(29%,#d8d8d8), color-stop(50%,#dbdbdb), color-stop(60%,#dbdbdb), color-stop(79%,#e0e0e0), color-stop(95%,#dbdbdb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #e0e0e0 0%,#d8d8d8 29%,#dbdbdb 50%,#dbdbdb 60%,#e0e0e0 79%,#dbdbdb 95%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #e0e0e0 0%,#d8d8d8 29%,#dbdbdb 50%,#dbdbdb 60%,#e0e0e0 79%,#dbdbdb 95%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #e0e0e0 0%,#d8d8d8 29%,#dbdbdb 50%,#dbdbdb 60%,#e0e0e0 79%,#dbdbdb 95%); /* IE10+ */
    background: linear-gradient(135deg,  #e0e0e0 0%,#d8d8d8 29%,#dbdbdb 50%,#dbdbdb 60%,#e0e0e0 79%,#dbdbdb 95%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#dbdbdb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    border-bottom: 1px solid #000000;
}
.question-container {
    background: #e0e0e0; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #e0e0e0 0%, #d8d8d8 29%, #dbdbdb 50%, #dbdbdb 60%, #e0e0e0 79%, #dbdbdb 95%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#e0e0e0), color-stop(29%,#d8d8d8), color-stop(50%,#dbdbdb), color-stop(60%,#dbdbdb), color-stop(79%,#e0e0e0), color-stop(95%,#dbdbdb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #e0e0e0 0%,#d8d8d8 29%,#dbdbdb 50%,#dbdbdb 60%,#e0e0e0 79%,#dbdbdb 95%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #e0e0e0 0%,#d8d8d8 29%,#dbdbdb 50%,#dbdbdb 60%,#e0e0e0 79%,#dbdbdb 95%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #e0e0e0 0%,#d8d8d8 29%,#dbdbdb 50%,#dbdbdb 60%,#e0e0e0 79%,#dbdbdb 95%); /* IE10+ */
    background: linear-gradient(135deg,  #e0e0e0 0%,#d8d8d8 29%,#dbdbdb 50%,#dbdbdb 60%,#e0e0e0 79%,#dbdbdb 95%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#dbdbdb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    text-align: center;
    margin-bottom: 15px;
    height: 150px;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    box-shadow: 5px 5px 8px gray;
    color: #000000;
}

.question-container .row .meta-data {
    margin-left: 20px;
    display: inline-block;
}

.footer {
    background: #e0e0e0; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #e0e0e0 0%, #d8d8d8 29%, #dbdbdb 50%, #dbdbdb 60%, #e0e0e0 79%, #dbdbdb 95%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#e0e0e0), color-stop(29%,#d8d8d8), color-stop(50%,#dbdbdb), color-stop(60%,#dbdbdb), color-stop(79%,#e0e0e0), color-stop(95%,#dbdbdb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #e0e0e0 0%,#d8d8d8 29%,#dbdbdb 50%,#dbdbdb 60%,#e0e0e0 79%,#dbdbdb 95%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #e0e0e0 0%,#d8d8d8 29%,#dbdbdb 50%,#dbdbdb 60%,#e0e0e0 79%,#dbdbdb 95%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #e0e0e0 0%,#d8d8d8 29%,#dbdbdb 50%,#dbdbdb 60%,#e0e0e0 79%,#dbdbdb 95%); /* IE10+ */
    background: linear-gradient(135deg,  #e0e0e0 0%,#d8d8d8 29%,#dbdbdb 50%,#dbdbdb 60%,#e0e0e0 79%,#dbdbdb 95%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#dbdbdb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    height: 200px;
    margin-top: 10px;
}